

body{
  font-size: 80px;
  color:white;
  text-align:center;
  letter-spacing:2px;
  font-weight:100;
  line-height:thin;
font-weight:lighter;
max-width:1000px;
padding-left: 2000px;
padding-right: 2000px;
margin-left:400;
margin-right:400;
background-image:url("NEWGRADIENT.SVG");
background-size:cover;
background-repeat: no-repeat;

padding-top:600;
}


p{
  font-family: "Nightchilde";
  color:black;
  font weight:lighter;
  text-align:center;
  font-size:700px;



}



p2{
  font-family:"RightBankFLF";
Font-size:300px;
text-align:center;
color:black;
}


p3{
  font-family:"Monicas Salon Shadow NF";
  font-size:800px;
color:black;
padding-bottom:600px;
text-align:inherit;
text-decoration:underline;
}

p4{font-size:500px;
  text-align:center;
  font-family:"RightBankFLF";
}


p5{font-size:450px;
font-family:"RightBankFLF";
}

p6{ font-size:800px;
  color:black;
  font-family:"Monicas Salon SHadow NF";


}


p7{ font-size:600px;
color:black;
font-family:"RightBankFLF";
}
p8{font-size:600px;
  color:black;
  font-family:"Monicas Salon Shadow NF"
}

p9{
  font-size:600px;
  color:black;
  font-family:"Monicas Salon Shadow NF"
}

p10{

  font-size:600px;
  color:black;
  font-family:"Monicas Salon Shadow NF"
}
p11{
  font-size:600px;
  color:black;
  font-family:"Monicas Salon Shadow NF"
}
p12{
   font-size:600px;
color:black;
font-family:"Monicas Salon Shadow NF"}

p13{
  font-size:600px;
  color:black;
  font-family:"Monicas Salon Shadow NF"
}


h1{
  font-family:"RightBankFLF";
  font-size:300;
  letter-spacing:20px;
  line-weight:thin;
  text-align:center;

}

h2{

font-family: "RightBankFLF";
font-size:200;
text-align:center;
}

h3{
  font-family:"RightBankFLF";
  font-size:160;
  text-align:center;

}
h4,h5,h6{
  font-family:"RightBankFLF";
  font-size:160;
}
h9{
  font-family:"RightBankFLF";
  font-size:200;
  letter-spacing:20px;
  line-weight:thin;
  text-align:center;
}


h10{font-family:"RightBankFLF";
    font-size:200;
    letter-spacing:20px;
    line-weight:thin;
    text-align:center;
}
h7{

  font-family:"RightBankFLF";
  font-size:200;
  letter-spacing:20px;
  line-weight:thin;
  text-align:center;
}

h8{
  font-family:"RightBankFLF";
  font-size:200;
  letter-spacing:20px;
  line-weight:thin;
  text-align:center;
}

h11{
  font-family:"RightBankFLF";
font-size:300;
letter-spacing:20px;
line-weight:thin;
text-align:center;
}
h12{

  font-family:"RightBankFLF";
  font-size:300;
  letter-spacing:20px;
  line-weight:thin;
  text-align:center;
}
h13{


  font-family:"RightBankFLF";
  font-size:250;
  letter-spacing:20px;
  line-weight:thin;
  text-align:center;
}

text{ font-family:"RighBankFLF";
font-size:30px;
}

h14{ font-family:"RightBankFLF";
font-size:200px;}

}





.footerlink img{
  width:100%;
  height:auto;
}
